body {
  background-image: linear-gradient(to right bottom, #a8ff78, #78ffd6);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 65px;
  size: 50px;
  color: #ffffff;
}
h1 {
  color: white;
  text-align: center;
}
.card{
  color:white;
  background: #26a0da;
}

.card:hover{
  color: rgb(44, 197, 146);
  background-color: #314755;
}